<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Fact - Model - Meta Properties</Title>
      <Author>
      </Author>
      <Description>
      </Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>fmmetaprop</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal Editable="true">
          <ID>className</ID>
          <ToolTip>the name of the class under test</ToolTip>
          <Default>ClassName</Default>
          <Function>
          </Function>
        </Literal>
        <Literal Editable="true">
          <ID>propertyCount</ID>
          <ToolTip>the number of public properties expected</ToolTip>
          <Default>1</Default>
          <Function>
          </Function>
        </Literal>
      </Declarations>
      <Code Language="csharp" Delimiter="$">
  <![CDATA[
    public class Meta {
        #region test setup
        private class ClassPropertyNames :  PropertyListBase {
            public ClassPropertyNames() {
                Add(nameof($className$.PropertyName));
            }
        }
        #endregion

        [Fact]
        public void ClassHasExpectedCountOfProperties() {
            // arrange
            var type          = typeof($className$);
            var properties    = type.GetProperties();
            var propertyCount = properties.Length;
            var expected      = $propertyCount$;

            // act

            // assert
            propertyCount.Should()
                         .Be(expected);
        }

        [Theory]
        [ClassData(typeof(ClassPropertyNames))]
        public void ClassContainsProperty(string propertyName) {
            // arrange
            var type       = typeof($className$);
            var properties = type.GetProperties();

            // act
            var found = properties.Any(p => p.Name == propertyName);

            // assert
            found.Should()
                 .BeTrue();
        }
    }]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>